# MongoDB Configuration
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@mongodb-and-mongoose.mwl2w.mongodb.net/?retryWrites=true&w=majority&appName=MongoDB-and-Mongoose
MONGODB_DATABASE=python-app
MONGODB_USERNAME=pam_ariz
MONGODB_PASSWORD=pam_ariz

